/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

/* Header Styles */
h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5rem;
}

/* Unordered List Styles */
ul {
    list-style: none;
    padding: 0;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #333; /* Dark background for the navbar */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Specific styles for nav items */
.nav-item {
    display: block;
    color: white; /* White text color */
    text-align: center;
    padding: 14px 20px; /* Padding for spacing around the text */
    text-decoration: none; /* Remove underline from links */
    background-color: #333; /* Basic grey background */
}

/* Change link color on hover for nav items */
.nav-item:hover {
    background-color: #ddd; /* Light grey background color for hover */
    color: black; /* Change text color on hover */
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
    .nav-links li {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Clearfix for the navbar */
.navbar::after {
    content: "";
    display: table;
    clear: both;
}

/* List Item Styles */
li {
    background: linear-gradient(135deg, #6e45e2 0%, #88d3ce 100%);
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Styles for other links outside the navbar */
li a:not(.nav-item) {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

li a:not(.nav-item):hover {
    background: linear-gradient(135deg, #88d3ce 0%, #6e45e2 100%);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

/* Image Styles */
.bitmoji {
    float: left; /* Float the image to the left */
    width: 200px; /* Reduce the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add some space between the image and the text */
}

/* Clearfix for the content container */
.content-container::after {
    content: "";
    display: table;
    clear: both;
}