body, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

#banner {
    width: 100%;
    height: auto;
    border-radius:0px;
  }

nav {
    background: black;
    color: white;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background: #f0f0f0;
    min-height: 500px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}